@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e5e5e5;
  --foreground: #171717;
}

[data-theme="dark"] {
  --background: #171717;
  --foreground: #e5e5e5;
}

* {
  min-width: 0;
}
